header {
    background-color: #000000;
    padding: 0;
    height: 10%;
    position: static;
    width: 100%;
    align-content: center;
}

body{
    background-color:black;
    margin: 0;
}

#coment {
    background-color: #D9895B;
    color: white;
    margin: 5px;
    border-color: #593825;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

#formulario {
    background-color: #D9895B;
    color: white;
    margin: 5px;
    border-color: #593825;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
}

#forminput{
    border-style: solid;
    border-color: aquamarine;
    position: absolute;
    left: 0%;
    right: 74%;
    display: inline;
}

#formimg{
    border-style: solid;
    border-color: aquamarine;
    display: inline;

}


#elfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:indianred;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}
#imgtitle {
    position: relative;
    bottom: 1;
    left: 50%;
    align-self: center;
    background-color: #0D0D0D;
    color: #D9895B;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    height: 100%;
    }