header {
    background-color: #000000;
    padding: 0;
    height: 10%;
    position: static;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color:black;
    margin: 0;
}

#coment {
    display: flex;
    background-color: #D9895B;
    color: white;
    margin: 5px;
    border-color: #593825;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    flex-direction: column;
    font-size: larger;
}

#coment p,
#coment ul {
    margin-bottom: 0%;
}

#formulario {
    background-color: #D9895B;
    color: white;
    margin: 5px;
    border-color: #593825;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    font-size: larger;
}

#formtabla {
    display: flex ;
    background-color: #f2d5a0;
    border-color: #593825;
    border-style: solid;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    width: 75%;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-align: center;
}

#elfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:indianred;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}
#imgtitle {
    position: relative;
    bottom: 1;
    background-color: #0D0D0D;
    color: #D9895B;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    height: 100%;
    }

#formdiv{
    display: flex;
    justify-content: space-between;
}

#next1 {
    display: flex;
    justify-content: center;
}

.button{
    border-color: #593825;
    border-style: solid;
    background-color: aquamarine;
    transition-duration: 0.4s;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.button a{
    color: inherit;
    text-decoration: none;
}

.button:hover{
    border-color: #593825;
    border-style: solid;
    background-color: white;
    transition-duration: 0.3s;
}

#cdadequipos{
    width: 48px;
}

@media only screen and (max-width:486px) {
    #imgtitle {
        position: relative;
        bottom: 1;
        background-color: #0D0D0D;
        color: #D9895B;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        height: 100%;
        width: 150px;
        }

    #formdiv{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
    }
    
    #formtabla{
        width: 93.5%;
    }
    
}